<body>
  <header class="header">
  </header>

  <div class="container-fluid">
    <div class="row">
      <div class="content-side col-3 p-4">
        <% if user_signed_in? %>
        <div class="user-profile lead p-2">
          <p class="profile-username"><%=current_user.name %>さんのマイページ</p>
        </div>
        <div class="profile-img p-4">
          <img src="https://pakutaso.cdn.rabify.me/shared/img/page/ookawa201712.jpg?d=300" alt="avatar" class="media-object" style="width:100px">
        </div>
        <div class="profile-text mt-5">
          <p>skill:
          </p>
          <p>
          自己紹介
          こんなことが出来ます。気になった方は気軽にお声がけください！
          </p>
        </div>
        <% end %>


        <div class="groups">
          <a href="#">
          </a>
        </div>
      </div>

      <div class="post-contents col-6">
        <div class="row">
          <% @posts.reverse_each do |post| %>
            <div class="post-content mb-5 p-3">
              <div class="media content-header">
                <div class="media-left">
                  <a href="#">
                    <img src="https://enjoynet.co.jp/icon/icon_menherachan01_05.jpg" alt="avatar" class="media-object" style="width:100px">
                  </a>
                </div>
                <div class="media-body mt-3 ml-3">
                  <h4 class="media-heading"><%= post.user.name %></h4>
                  <p class="updated"><%= post.created_at %></p>
                </div>
              </div>
              <div class="content-main px-4">
                <h3 class="post-title pl-3"><%= post.title %></h3>
                <%= simple_format post.content %>
                <div class="post-content-image">
                  <% if post.image.presence %>
                    <%= image_tag post.image.url, class: "img-responsive", style: "width:100%"%>
                  <% end%>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <div class="advertise col-3 px-2">
        <div class="advertise-item mb-5">
          <p class="item-1 pl-5">企業広告</p>
          <img src="https://prtimes.jp/i/1594/2035/resize/d1594-2035-452726-0.png" alt="avatar" class="img-responsive mt-1 pr-3" style="width:100%">
        </div>
        <div class="advertise-item mb-5">
          <p class="item-2 pl-5">企業広告</p>
          <img src="https://cdn-ak.f.st-hatena.com/images/fotolife/k/kadokawa-toko/20200409/20200409185354.png" alt="avatar" class="img-responsive mt-1 pr-3" style="width:100%">
        </div>
      </div>

    </div>
  </div>


  <div class="nav container">
    <ul class="nav nav-pills nav-fill py-3 mt-3 fixed-bottom">
      <li class="nav-item">
        <% if user_signed_in? %>
          <a class="nav-link" href="/users/edit">ユーザー情報の編集</a>
        <% else %>
          <%= link_to "新規登録", new_user_registration_path %>
          or
          <%= link_to "ログイン", new_user_session_path %>
        <% end %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">フォローしているユーザー</a>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-primary" data-toggle="modal" data-target="#post">Let's 発信</button>
      </li>
      <li class="nav-item">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">検索</button>
        </form>
      </li>
    </ul>
  </div>


  <div class="modal" id="post" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">

      <!-- 3.モーダルのコンテンツ -->
      <div class="modal-content">

          <!-- 4.モーダルのヘッダ -->
          <div class="modal-header">
            <h4>あなたの魅力を発信しましょう！</h4>
          </div>

          <!-- 5.モーダルのボディ -->
        <%= form_with model: @post, local: true do |form| %>
          <div class="error-message"></div>
          <div class="modal-body">
            <p>何を発信しますか？<br>
              <%= form.text_field :title, class: "form-control"%>
              <%= form.text_area :content, class: "form-control rows=3"%>
            </p>
            <label class="input-box__image" for="message_image">
              <p class="img-btn">画像・動画を選択<i class="fa fa-camera fa-fw"></i>
              <%= form.file_field :image, placeholder: "Image Url" %>
            </label>
          </div>
          
          <!-- 6.モーダルのフッタ -->
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
            <%= form.submit '発信!', class:"btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

</body>